:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
}

/* Resetting margins, font-size and box-sizing of all elements. 
Also applying global font-family and font-size. */
* {
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
}

/* Setting up a vertical layout component under a 100vh threshold that centers the main card
vertically and horizontally. */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}
body > main {
  margin-block: auto;
}

/* Styling main section */
.grid {
  display: grid;
  grid-template-areas:
  "introduction"
  "review"
  "testimonial";
  row-gap: 2em;
  max-width: 25em;
}
.introduction-container {
  grid-area: introduction;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.header-container {
  flex: 1;
}
h1 {
  font-size: 2em;
  color: var(--very-dark-magenta);
  font-weight: 700;
  text-align: center;
  line-height: .8;
  padding: 0 2em;
}
.sub-header-container {
  flex: 1;
}
.sub-header {
  color: var(--dark-grayish-magenta);
  text-align: center;
}
.review-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.review {
  background-color: var(--light-grayish-magenta);
  padding: .6em 0;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  row-gap: .3em;
  align-items: center;
}
.review-text {
  color: var(--very-dark-magenta);
  font-weight: 700;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.testimonial {
  background-color: var(--very-dark-magenta);
  border-radius: .5em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
.customer-profile-container {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
}
.customer-picture {
  width: 2.5em;
  border-radius: 50%;
}
.customer-name {
  color: white;
  font-weight: 500;
}
.verified-customer {
  color: var(--soft-pink);
  font-weight: 300;
}
.testimonial-text {
  color: var(--light-grayish-magenta);
  font-weight: 300;
  line-height: 1.5;
}